.in
{
    position: absolute;
    top: 0;
    right: 140px;
}
.fb
{
    
    position: absolute;
    top: 4px;
    right: 80px;

}
.tw
{
    position: absolute;
    top: 4px;
    right: 10px;


}
.cc
{
    position: absolute;
    top:20px;
    right: 220px;
    font-weight: 700;
    color: rgb(243, 158, 200);
    font-size: 35px;
    text-shadow: 2px 2px black;
    font-family: 'Amatic SC', cursive;
    
}



*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body 
{
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(to left, #8942a8, #ba382f)
}

.app
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h2{
    margin: 50px 0px 100px 0px;
}


.pads
{
    background-color: blueviolet;
    width: 100%;
    display: flex;
    
}

.pads > div{

    height: 100px;
    width: 100px;
    flex:1;
    
    
}

.tab1
{
    background: #7fffd4;
    
   
    
}

.tab2
{
    background: #FFF8DC;
    
}
.tab3
{
    background: #ff4040;
}
.tab4
{
    background: #BCEE68;
}
.tab5
{
    background: violet;
}

.tab6
{
    background:#FA8072;
}





.visual > div       
{
 position: absolute;
 height: 50px;
 width: 50px;
 border-radius: 50%;
 border-color: black;
 border-width: 50px;
 bottom: 0%;
 z-index: -1;
}

@keyframes jump
{
0%{
bottom:0%;
left:20%;
}
50%{
bottom: 40%;
left: 50%;
}

100%{
bottom:0%;
left:90%;
}
}

.music
{
    
    animation: anime infinite linear 2s;
    font-size: 60px;
    font-weight: 900;  
    text-shadow: 2px 2px black; 
    padding-left: 60px;
    text-decoration: underline;
    
}
.ms
{
    
    animation: animer infinite linear 2s;
    font-size: 40px;
    font-weight: 300;  
    text-shadow: 2px 2px black; 
    letter-spacing: 9px;
    
    padding-left: 5px;
    
}
@keyframes anime
{
    0%{
        color: rgb(235, 178, 72);
        filter: blur(0.5px);
    }

    5%
    {
        
        color: rgb(233, 94, 78);
        filter: blur(0px);
        
    }
    25%
    {
        color:rgb(252, 70, 70);
        filter: blur(0.5px);
    }
    35%
    {
        color: rgb(238, 90, 119);
        filter: blur(0px);
    }
    45%
    {
        color: rgb(223, 247, 115);
        filter: blur(0.5px);}

    65%
    {
        color: rgb(77, 77, 226);
        filter: blur(0px);
    }
    75%
    {
        color: rgb(63, 221, 63);
        filter: blur(0.5px);
    }
    100%
    {
        color: rgb(58, 219, 184);
        filter: blur(0px);
    }
}
@keyframes animer
{
    5%{
        color: rgb(235, 178, 72);
        filter: blur(0.5px);
    }

    0%
    {
        
        color: rgb(233, 94, 78);
        filter: blur(0px);
        
    }
    50%
    {
        color:rgb(241, 95, 95);
        filter: blur(0.5px);
    }
    75%
    {
        color: rgb(238, 110, 136);
        filter: blur(0px);
    }
    60%
    {
        color: rgb(223, 247, 115);
        filter: blur(0.5px);}

    10%
    {
        color: rgb(77, 77, 226);
        filter: blur(0px);
    }
    100%
    {
        color: rgb(63, 221, 63);
        filter: blur(0.5px);
    }
    20%
    {
        color: rgb(58, 219, 184);
        filter: blur(0px);
    }
}

.set div 
{
    position: absolute;
    display: block;
    z-index: -1;
    
}
.set div:nth-child(1)
{
    left: 35%;
    animation: ano 6s linear infinite;
     
}
.set div:nth-child(2)
{
    
    left: 25%;
    animation: ano 11s linear infinite;
}
.set div:nth-child(3)
{
    
    left: 82%;
    animation: ano 7s linear infinite;
}
.set div:nth-child(4)
{
    
    left: 94%;
    animation: ano 5s linear infinite;
}
.set div:nth-child(5)
{
    
    left: 43%;
    animation: ano 9s linear infinite;
}
.set div:nth-child(6)
{
    
    left: 89%;
    animation: anoi 7s linear infinite;
}
.set div:nth-child(7)
{
    
    left:94%;
    animation: anoi 9s linear infinite;
}



.set2 div 
{
    position: absolute;
    display: block;
    z-index: -1;
    animation: anoi;
    animation-delay: 2s;
    
}
.set2 div:nth-child(1)
{
    left: 3%;
    animation: anoi 12s linear infinite;
     
}
.set2 div:nth-child(2)
{
    
    left: 80%;
    animation: anoi 11s linear infinite;
}
.set2 div:nth-child(3)
{
    
    left: 52%;
    animation: anoi 13s linear infinite;
}
.set2 div:nth-child(4)
{
    
    left: 2%;
    animation: anoi 15s linear infinite;
}
.set2 div:nth-child(5)
{
    
    left: 28%;
    animation: anoi 12s linear infinite;
}
.set2 div:nth-child(6)
{
    
    left: 69%;
    animation: anoi 14s linear infinite;
}



@keyframes ano
{
    0%{
        top:0%;
        opacity: 0;
       transform:  rotate(45deg);
    }
    20%
    {
        opacity: 0;
        transform:  rotate(95deg);
    }
    40%
    {
        transform:  rotate(125deg);
        opacity: 2;
    }

    50%
    {
        transform:  rotate(95deg);
        
        
    }
    100%{
        transform:rotate(40deg);
        top:82%;
    }
}

@keyframes anoi
{
    0%{
        top:0%;
        opacity: 0;
        transform:  rotate(95deg);
       
    }
    20%
    {
        opacity: 1;
        transform:  rotate(180deg);
    }
    40%
    {
        transform:  rotate(45deg);
        opacity: 2;
    }

    50%
    {
        transform:  rotate(60deg);
    }
    100%{
        transform:  rotate(90deg);
        top:80%;
    }
}

